/* Task 1: Style the body */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #f4f4f4;
}

/* Task 2: Create a pseudo-element for the background and blur */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/static/background-colors.jpg");
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

/* Task 3: Style the content area */
.content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

/* Task 4: Add styles for headings, paragraphs, and buttons */
/* Customize font size, weight, and color for max-width, h2
Style .lead for the quote
Adjust .btn-primary for the button’s visual design */
h1,
h2 {
  color: #333;
  font-weight: 700;
  margin-bottom: 20px;
}

.lead {
  font-size: 1.25em;
  font-style: italic;
  color: #555;
  margin-bottom: 30px;
}

.btn-primary {
  color: #333;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  leter-spacing: 1px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-color: transparent;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3;
  color: #fff;
}

@media (max-width: 768px) {
  .content {
    padding: 15px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  .lead {
    font-size: 1em;
  }

  .btn-primary {
    font-size: 1.25em;
    padding: 8px 16px;
  }
}
